// common style variables
$logo-font: Bungee, sans-serif;
$body-font: "Source Sans 3", sans-serif;
$tweet-button-color: purple;
$main-background-color: #f4f1ec;

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  $body-font;
}
.tweet-button {
  background-color: $tweet-button-color;
  color: white;
}
input {
  background-color: $main-background-color;
  width: 500px; 
  height: 2em;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}
.under-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $logo-font;
}
.error-message {
  color: white;
  background: #c51244;
  padding: 10px;
  position: relative; 
  display: inline-block;
  margin-top: 10px;
}
.error-message:before {
  content: '';  
  width: 0;  
  height: 0;  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;  
  top: -10px; 
}