nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-title {
  font-family: Bungee, sans-serif;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}